<!DOCTYPE html>
<html>

<head>
    <title>Power Predictor</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <h1>
        Predict Energy Output From Wind Speed
    </h1>


    <form class="table" method="POST">

        Enter wind speed in kph to calculate power output<br>

        <input name="speed_input" type="number" step="0.01">
        <input type="submit">

    </form>


</body>

</html>